<div class="flex full-height column center-center">
    <div class="main-container height-90">
        <form #pwdChange="ngForm" class="flex column c-start-center">
            <h3 class="no-margin">New Password</h3>
            <p class="c-grey">Your new password must be different from previously used passwords.</p>
            <mat-label class="width-90">Password</mat-label>
            <mat-form-field appearance="outline" class="width-90 input">
                <input [type]="isVisible ? 'text' : 'password'" [(ngModel)]="userPasswords.password" #password="ngModel" name="password"  matInput placeholder="***********" required>
                <mat-error *ngIf="password.invalid && password.errors && password.errors['required']">
                    Password is <strong>required</strong>
                </mat-error>
                <mat-icon (click)="pwdVisibility()" matSuffix>{{isVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
            <mat-label class="width-90">Confirm Password</mat-label>
            <mat-form-field appearance="outline" class="width-90 input">
                <input [type]="isVisible ? 'text' : 'password'" [(ngModel)]="userPasswords.confirmPassword" #confirmPassword="ngModel" name="confirmPassword"  matInput placeholder="***********" required>
                <mat-error *ngIf="confirmPassword.invalid && confirmPassword.errors && confirmPassword.errors['required']">
                    Confirm Password is <strong>required</strong>
                </mat-error>
                <mat-icon (click)="pwdVisibility()" matSuffix>{{isVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
            <div class="b-btn width-90">
                <button mat-stroked-button class="full-width margin-top10px" color="primary"  (click)="submit(pwdChange)">Create New Password</button>
            </div>
        </form>
    </div>
</div>
