<div class="flex full-height column center-center">
    <div class="main-container height-90">
        <form #signUpForm="ngForm" class="flex column c-start-center">
            <h3 class="no-margin">Sign Up</h3>
            <p class="c-grey">Fill the form below to register with us.</p>
            <mat-label class="width-90">Full Name</mat-label>
            <mat-form-field appearance="outline" class="width-90 input">
                <input type="text"  [(ngModel)]="userDetails.name" #name="ngModel" name="name" matInput placeholder="Ex. Simphiwe Makhathini" required>
                <mat-error *ngIf="name.invalid && name.errors && name.errors['required']">
                    Full name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-label class="width-90">Email</mat-label>
            <mat-form-field appearance="outline" class="width-90 input">
                <input type="email" [pattern]="emailPattern" [(ngModel)]="userDetails.email" #email="ngModel" name="email" matInput placeholder="Ex. pat@example.com" required>
                <mat-error *ngIf="email.invalid && email.errors && email.errors['pattern']">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="email.invalid && email.errors && email.errors['required']">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-label class="width-90">Password</mat-label>
            <mat-form-field appearance="outline" class="width-90 input">
                <input [type]="isVisible ? 'text' : 'password'" [(ngModel)]="userDetails.password" #password="ngModel" name="password"  matInput placeholder="***********" required>
                <mat-error *ngIf="password.invalid && password.errors && password.errors['required']">
                    Password is <strong>required</strong>
                </mat-error>
                <mat-icon (click)="pwdVisibility()" matSuffix>{{isVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
            <mat-label class="width-90">Confirm Password</mat-label>
            <mat-form-field appearance="outline" class="width-90 input">
                <input [type]="isVisible ? 'text' : 'password'" [(ngModel)]="userDetails.confirmPassword" #confirmPassword="ngModel" name="confirmPassword"  matInput placeholder="***********" required>
                <mat-error *ngIf="confirmPassword.invalid && confirmPassword.errors && confirmPassword.errors['required']">
                    Confirm Password is <strong>required</strong>
                </mat-error>
                <mat-icon (click)="pwdVisibility()" matSuffix>{{isVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
            <div class="b-btn width-90">
                <button mat-stroked-button class="full-width margin-top10px" color="primary"  (click)="submit(signUpForm)">Sign Up</button>
            </div>
            <p>Already have an account <span class="link pointer">Sign In</span></p>
        </form>
    </div>
</div>